<div class="my-24">
    <!-- Skills Section -->
    <div id="activities" class="w-100 flex flex-col items-center mx-6 scroll-mt-14">
        <div class="md:w-3/5 text-left md:text-center">
            <h5 class="text-sky-500 text-xl font-extrabold">What I did ?</h5>
            <h3 class="text-4xl text-slate-900 font-extrabold">My Activities</h3>
            <p class="font-semibold text-gray-400 mt-4">I run the social activities to evolve developer in Thailand in sometime. I love to join technology activities for develop my skill.</p>
        </div>
    </div>
</div>