<aboutme >
    <div class="h-screen bg-yellow-400 rounded-3xl">
        <h1 class="text-3xl text-center p-4 sm:text-7xl  ">About me</h1>
        <div class="flex flex-col  h-96 items-center text-center">
            <div class="flex h-33 flex-col sm:flex-row text-center">
                <div class="m-10 w-1/2 flex sm:flex-col md:flex-row justify-between items-center">
                    <div class="items-center ">
                        <h1 class="text-md sm:text-xl md:text-4xl mb-5 font-extrabold">MY NAME</h1>
                        <p class="text-sm sm:text-base font-semibold text-stone-800">Phatcharaphol Suanprom</p>
                    </div>
                    <div>
                        <img class="hidden sm:inline-block sm:w-24 md:w-48 rounded-full" src="https://images.unsplash.com/photo-1547354142-526457358bb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                    </div>
                </div>
                <div class="m-10 w-1/2 flex flex-col sm:flex-row justify-between items-center">
                    <div>
                        <h1 class="sm:text-xl md:text-4xl  mb-5 font-extrabold">E-MAIL</h1>
                        <p class="text-sm md:text-base font-semibold text-stone-800">Phatcharaphol@hotmail.com</p>
                    </div>
                    <div>
                        <img class="hidden sm:inline-block sm:w-24 md:w-48  rounded-full" src="https://images.unsplash.com/photo-1567473030492-533b30c5494c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                    </div>
                </div>
            </div>
            <div class="flex h-33 flex-col sm:flex-row m-5 text-center">
                <div class="m-10 w-1/2 flex justify-between sm:flex-col md:flex-row items-center">
                    <div class="items-center ">
                        <h1 class="sm:text-xl md:text-4xl  mb-5 font-extrabold">ROLE</h1>
                        <p class="text-sm sm:text-base mb-1 font-semibold text-stone-800">student</p>
                    </div>
                    <div>
                        <img class="hidden sm:inline-block sm:w-24 md:w-48  rounded-full" src="https://images.unsplash.com/photo-1631732030722-4f4ba9d03dca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                    </div>
                </div>
                <div class="m-10 w-1/2 flex justify-between sm:flex-col md:flex-row items-center">
                    <div>
                        <h1 class="sm:text-xl md:text-4xl  mb-5 font-extrabold">PHONE</h1>
                        <p class="text-sm inline-block sm:text-base font-semibold text-stone-800">+ 0123456789</p>
                    </div>
                    <div>
                        <img class="hidden sm:inline-block sm:w-24 md:w-48 rounded-full" src="https://images.unsplash.com/photo-1604054923518-e491a9a6afbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</aboutme>