<home class="box-border">
    <div class="flex flex-col items-center md:flex-row m-10 sm:items-center h-screen">
        <div class="w-1/2 flex flex-col  justify-center sm:mb-5">
            <div>
                <h1 class="text-2xl sm:text-7xl">HI!!!</h1>
                <h1 class="sm:text-3xl">I'am Phatcharaphol Suanprom</h1>
            </div>
            <div class="pt-5">
                <p class="text-sm font-semibold">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Molestias dolore ad nostrum at debitis, voluptatem eius aperiam
                    voluptatum, quia consequatur a sed, nemo molestiae blanditiis ut!
                    Suscipit fugit harum fuga eveniet nisi, laudantium quo asperiores
                </p>
            </div>
        </div>
        <div class="w-1/2 justify-center flex flex-col">
            <div class="">
                <img class= " mt-12 sm:mt-0 sm:inline-block ml-10 rounded-full shadow-lg w-300 h-300" src="https://images.unsplash.com/photo-1637858868799-7f26a0640eb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
            </div>
        </div>
    </div>
</home>
