body {
	margin: 0;
}

p {
	margin: 0;
	color: white;
	font-size: 24px;
}

.top-box {
	background-image: url('http://cdn29.us1.fansshare.com/images/mountainviews/hd-wallpaper-beautiful-view-mountain-wallpapers-beautiful-2071076148.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.black-box {
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.bottom-box {
	background-image: url('https://wallpaperaccess.com/full/3239012.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}